<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTEF Dictionary | What is the Typst equivalent for...</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TTEF Dictionary" />
    <meta property="og:description" content="What is the Typst equivalent for..." />
    <style><%- include('styles.css') %></style>
</head>

<body>
    <div class="root sans">
        <!-- <div class="wrapper"> -->

        <%- include('body_header.html') %>
            <div class="content">
                <div class="wrapper">
                    <div>
                        <div>
                            <h1>What is the Typst equivalent for...</h1>
                        </div>
                        <ul class="index_main_list">
                            <%- data.list_html %>
                        </ul>
                    </div>

                </div>
            </div>

            <%- include('grand_footer.html') %>
                <!-- </div> -->
    </div>

</body>

</html>
