/* @import url('https://autowflibcdn.pages.dev/awfl-cdn/css/c059.css'); */


.sans {
    font-family: system-ui, -apple-system, 'SF Pro Text', 'TeX Gyre Heros', 'Inter', 'Mona-Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.serif {
    font-family: 'C059', 'TeX Gyre Schola', 'Georgia', 'Times New Roman', 'Times', serif;
}


html,
body {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #0157AB;
    color: white;
    padding: 30px 0;
}

.content {
    min-height: 50vh;
    padding: 50px 0px;
}

.content-title {
    padding: 20px 0;
}

.content aside {
    font-size: 13px;
    opacity: 0.5;
}

.content h2 {
    margin: 2em 0 1em;
}

.content pre {
    background-color: rgba(0,0,0,0.05);
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px;
}

.content p code {
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 1px 3px;
}

footer {
    font-size: 13px;
    padding: 40px 0;
    border-top: 1px solid #DDD;
}


.index_main_list li {
    font-size: 19px;
    padding: 7px 0;
}

